@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*scrollbar*/
.fancy-scroll::-webkit-scrollbar {
  height: 8px;
}
.fancy-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  @apply bg-black;
  border-radius: 20px;
}

.fancy-scroll::-webkit-scrollbar-thumb {
  height: 8px;
  border-radius: 20px;
  @apply bg-primary;
}

.fancy-scroll::-webkit-scrollbar-thumb:hover:hover {
  @apply bg-darkGray;
}

/* hide the scrollbar on touch screens (mobile or tablet) */
@media (hover: none), (pointer: coarse) {
  .fancy-scroll::-webkit-scrollbar {
    display: none;
  }
  .fancy-scroll {
    min-width: calc(100% + 16px);
    padding-bottom: 0px;
    padding-left: 16px;
  }
}

.switch {
  @apply inline-block h-0 w-[35px] cursor-pointer;
  @apply focus:outline-0;
  @apply border-0;
  @apply focus:ring-offset-transparent;
  @apply focus:ring-transparent;
  @apply focus-within:ring-0;
  @apply focus:shadow-none;

  @apply before:absolute after:absolute;
  @apply before:top-0.5 after:top-0.5;
  @apply before:inline-block after:block;
  @apply before:rounded-full after:rounded-full;

  @apply after:mr-[4px] after:mt-[2.5px] after:size-[14px] after:content-[''];
  @apply after:shadow-md after:duration-100;

  @apply before:h-[20px] before:w-[35px] before:content-[''];
  @apply before:shadow-[inset_0_0_#000];

  @apply after:bg-white;
  @apply before:bg-gray-300;
  @apply before:checked:bg-primary;
  @apply checked:after:-translate-x-[14px] checked:after:duration-300;

  @apply disabled:cursor-not-allowed disabled:after:bg-opacity-75;
  @apply disabled:checked:before:bg-opacity-40;
}

/* Input Color Type */
input[type="color"] {
  @apply px-0.5 py-0;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 4px;
}

/* Calendar */
.react-calendar {
  font-family: inherit !important;
  @apply !w-full !border-none;
}
.react-calendar__navigation__arrow {
  @apply flex items-center justify-center;
}

.react-calendar__navigation__arrow:focus {
  @apply !bg-transparent !outline-none;
}
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}
.react-calendar__month-view__weekdays {
  @apply !border-b !border-[##F3F2F8] !pb-2;
}

.react-calendar__month-view__days {
  @apply !gap-y-1  !pt-2;
}
.react-calendar abbr[title] {
  @apply text-sm font-normal no-underline;
}
.react-calendar__month-view__weekdays__weekday {
  @apply !flex !aspect-square !items-center !justify-center;
}
.react-calendar__month-view__weekdays__weekday--weekend {
  @apply text-[#FF3B30];
}

.react-calendar__month-view__days__day--weekend,
.react-calendar__month-view__days__day {
  @apply !text-sm !font-medium !text-black;
}

.react-calendar__month-view__days__day--neighboringMonth {
  @apply !text-[#8E8E93];
}

.react-calendar__tile {
  @apply !aspect-square !rounded-full !p-0;
}

.react-calendar__tile--now {
  @apply !bg-primary !text-white !border-primary;
}

.react-calendar__tile--active {
  @apply !bg-[#F3F2F8] !text-black;
}

.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  @apply !bg-black !text-white;
}

.react-calendar__navigation__label {
  @apply !text-xl !font-medium !text-black;
}

.react-calendar__year-view__months,
.react-calendar__decade-view__years {
  @apply !grid sm:grid-cols-4 grid-cols-3 !gap-2;
}
.react-calendar__decade-view__years {
  @apply !grid-cols-5;
}

.react-calendar__year-view__months__month,
.react-calendar__decade-view__years__year {
  @apply !border !border-solid !border-black !text-sm;
}

.react-calendar__decade-view__years__year {
  @apply !text-xs !font-medium;
}


.react-calendar__tile--hasActive{
  @apply !bg-black !text-white;
}